body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --primary_brand-color: #4D5AE5;
    --pressed_state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle_text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal_overlay-color: #2E2F42;
    --hero_background-color: #2E2F42;
    --white_background-color: #FFFFFF;
    --modal_background-color: #FCFCFC;
}

.navigation-logo {
    color: var(--primary_brand-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-span {
    color: var(--dark-color);
}
.navigation-link {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    }

.list {
    list-style: none;
    }

.link {
    text-decoration: none;
    }

.address-link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--pressed_state-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--pressed_state-color);
}

.address {
    font-style: normal;
    }

.filter-button {
    color: var(--primary_brand-color);
    background-color: #F4F4FD;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.project-tittle {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.project-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero-section {
    background-color: var(--hero_background-color);
}
.main-headline {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.main-headline-button {
    color: #FFF;
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.main-headline-button:hover,
.main-headline-button:focus {
    background-color: var(--pressed_state-color);
}

.sub-headline {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.sub-headline-objectives {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.doing-section {
    background-color: var(--white_background-color);
}

.text-objectives {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-section {
    background: #F4F4FD;
}
.list-no {
    background-color: #FFFFFF;
}
.team-peaple-name {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    }
.team-position {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: var(--hero_background-color);    
}
.footer-navigation-logo {
    color: var(--primary_brand-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-footerspan {
    color: var(--light-color);
}

.footer-text {
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


